.card {
    margin: .5rem;
    padding: .3rem;
    width: 95%;
    background-color: white;
    border: 1px solid var(--grey-border);
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__main-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: auto;
}

/* progress icon */

.icono__rojo{
    width: 1rem;
    height: 1rem;
}
.icono__verde{
    width: 1rem;
    height: 1rem;

}


/* card title */

.card__title-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.card__title {
    color: var(--blue);
    font-size: .8rem;
    font-weight: 600;
}

/* creation date */

.card__creation-date {
    color: var(--dark-grey);
    font-size: .8rem;
    margin-left: 1.4rem;
}

/* trashcan icon */
.card__delete-icon {
    margin-right: .5rem;
    border: none;
    background-color: white;
    width: 1.2rem;
    height: 1.2rem;
}
.card__delete-icon:hover {
    cursor: pointer;
}

.hide {
    display: flex;
}